html {
    height: 100%;
}
body {
    font-family: monospace;
    background-color:rgb(226, 250, 227);
}
.container{
    position: relative;
    margin: auto;
    width: 50%;
    margin-top: 50px;
    padding-bottom: 5%;
    text-align: center;
}
.sub-container{
    border:brown;
    border-style: solid;
}
.sub-container2{
    padding:0% 5%;
}
h1{
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-size: 80px;
    background: linear-gradient(to right,#f12222,#2500fa);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
h2{
    font-family: "Dancing Script";
    font-size: 30px;
    text-align: center;
    margin-bottom: 10%;
}
h3{
    font-family: "Jersey 20", sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    padding:0;
}
h4{
    font-family: "Jersey 20", sans-serif;
    font-size: 25px;
    text-align: left;
    margin-bottom: 0;
    padding:0;
}
#pronanciation{
    font-family: "Jersey 20", sans-serif;
    font-size: 20px;
    margin: 0;
    padding:0;
}
#item{
    font-family:"Work Sans", sans-serif;
    font-size: 20px;
}
#shortdef{
    font-family:"Work Sans", sans-serif;
    font-size: 15px;
}
#def{
    text-align: left;
    list-style: none;
    margin-bottom:1%;
}
#input{
    position: relative;
    width:30%;
    padding: 5px;
    margin-bottom: 5%;
}
button{
    position: absolute;
    background-color: transparent;
    border:none;
}
footer { 
    position: fixed; 
    bottom: 0; 
    left: 10px; 
    width: 500px;
}